#chat-input-main.one-line-input{
    width: 900px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 255, 23);
    border-image: initial;
    border-radius: 50px;
}

#content_left > div {
    width: 100%;
}