
/*搜索框*/
#chat-input-main.one-line-input{
    width: 900px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-width: 2px;
    border-style: solid;
    border-color: rgb(138, 175, 255);
    border-image: initial;
    border-radius: 50px !important;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.031);
}

#content_left > div {
    width: 100%;
    left: 5px;
}

#s_tab_inner{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.chat-input-container > .chat-input-tool > .right-tools-wrapper{
    border-radius: 50px !important;
}

/*搜索框cancel-all*/
.chat-input-container > .chat-input-tool > .right-tools-wrapper > #right-tool > .tools-clear-icon.show-clear-icon{
    border-radius: 50px !important;
    transition-duration: 0.4s !important;
}

.chat-input-container > .chat-input-tool > .right-tools-wrapper > #right-tool > .tools-clear-icon.show-clear-icon:hover{
    border-radius: 50px !important;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.031);
}

/*搜索框voice-input*/
.chat-input-container > .chat-input-tool > .right-tools-wrapper > #right-tool > .chat-voice-input-mic-icon{
    border-radius: 50px !important;
    transition-duration: 0.4s !important;
}

.chat-input-container > .chat-input-tool > .right-tools-wrapper > #right-tool > .chat-voice-input-mic-icon:hover{
    border-radius: 50px !important;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.031);
}

/*搜索框summerization*/
.chat-input-container > .chat-input-tool > .right-tools-wrapper > #right-tool > .tooltip-wrapper_1ZM3C.anchor-center_2uJmG{
    border-radius: 50px !important;
    transition-duration: 0.4s !important;
}

.chat-input-container > .chat-input-tool > .right-tools-wrapper > #right-tool > .tooltip-wrapper_1ZM3C.anchor-center_2uJmG:hover{
    border-radius: 50px !important;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.031);
}

/**/
.chat-input-container > .chat-input-tool > .right-tools-wrapper > #right-tool > .tooltip-wrapper_1ZM3C.anchor-center_2uJmG{
    border-radius: 50px !important;
    transition-duration: 0.4s !important;
}

.chat-input-container > .chat-input-tool > .right-tools-wrapper > #right-tool > .tooltip-wrapper_1ZM3C.anchor-center_2uJmG:hover{
    border-radius: 50px !important;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.031);
}

/*搜索框enter*/
#chat-submit-button{
    width: 100px !important;
    height: 42px !important;
    background-color: rgb(0, 81, 255) !important;
    border: 1px,solid,rgb(255, 255, 255) !important;
    border-radius: 50px !important;
    box-shadow: none !important;
}

#chat-submit-button:hover{
    width: 102px !important;
    height: 44px !important;
    background-color: rgb(0, 81, 255) !important;
    border: 1px,solid,rgb(255, 255, 255) !important;
    border-radius: 50px !important;
    transition-duration: 0.4s !important;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.031) !important;
}


/*百度AI右侧输出结果*/
.cos-fold-switch-context{
    width: 100px !important;
}

/*百度选项卡调试*/
/*细化 c-container 指定是 content_left 下的，避免重复定义*/
#content_left > .c-container{
    width: 620px !important;
    background-color: rgba(0, 0, 0, 0.027);
    border: 2px solid rgba(255, 255, 255, 0.909);
    border-radius: 30px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.031);
    padding-top: 15px !important;
}

.c-container.xpath-log.new-pmd{
    padding-bottom: 20px !important;
    padding-top: 20px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

em{
    font: bold !important;
}

.result-op.c-container.new-pmd{
    padding: 20px !important;
}

/*右侧栏*/

/* 以下可以合并
.extract{
    width: 347.99px !important;
    background-color: rgba(0, 0, 0, 0.027);
    border: 2px solid rgba(255, 255, 255, 0.909);
    border-radius: 30px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.031);
    padding: 20px;
    margin-bottom: 15px !important;
}

.core_ai{
    width: 347.99px !important;
    background-color: rgba(0, 0, 0, 0.027);
    border: 2px solid rgba(255, 255, 255, 0.909);
    border-radius: 30px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.031);
    padding: 20px;
    margin-bottom: 15px !important;
}

.core_ai > .inp_bar > #ai_model{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgba(255, 255, 255, 0.909);
    border-radius: 30px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.031);
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    padding: 5px;
}


.baidu_ai{
    width: 347.99px !important;
    background-color: rgba(0, 0, 0, 0.027);
    border: 2px solid rgba(255, 255, 255, 0.909);
    border-radius: 30px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.031);
    padding: 20px;
    margin-bottom: 15px !important;
} */

#content_right > div{
    width: 347.99px !important;
    background-color: rgba(0, 0, 0, 0.027);
    border: 2px solid rgba(255, 255, 255, 0.909);
    border-radius: 30px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.031);
    padding: 20px;
    margin-bottom: 15px !important;
}

#content_right > .baidu_ai > .result-op.c-container.new-pmd{
    /*工具栏下的baidu_ai内需要调整的左右样式*/
    width: 100%;
}

/*按钮*/
.core_ai > .inp_bar > button{
    background-color: #6e8bff;
    border: 2px solid rgba(255, 255, 255, 0.909);
    border-radius: 30px;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    padding: 10px;
    transition-duration: 0.4s;
    margin-left: 10px;
}

.core_ai > .inp_bar > button:hover{
    width: 52.57px;
    height: 45.5px;
    background-color: #6e8bff;
    border: 2px solid rgba(255, 255, 255, 0.909);
    border-radius: 30px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.031);
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    padding: 10px;
}

.core_ai > .inp_bar > input{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgba(255, 255, 255, 0.909);
    border-radius: 30px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.031);
    margin-bottom: 15px !important;
    padding: 5px;
    margin-left: 10px;
}

/*百度选项卡news*/
.left-inside > ._content-border_1q9is_4{
    width: 610px !important;
}

/*百度选项卡原边框去除(original_website_result)*/
.left-inside > ._content-border_1q9is_4{
    width: 90% !important;
    background-color: none !important;
    border: none !important;
    box-shadow: none !important;
    padding: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.left-inside > ._aladdin_{
    border: none !important;
}

.left-inside > div > .cosc-card > .cosc-card-content-border.cosc-card-shadow{
    border: none !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}

/*百度选项卡原边框去除(Baidu_AI_provide)*/
.cosc-card{
    border: none !important;
    box-shadow: none !important;
    background-color: none !important;
    border-radius: none !important;
}

/*底侧切换栏被选项*/
.page-inner_2jZi2 > strong{
    width: 40px !important;
    border: 2px solid #6e8bff !important;
    border-radius: 40px !important;
    box-shadow: 2px solid #7692ff !important;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.031);
}

strong > .page-item_M4MDr-pc{
    width: 40px !important;
    height: 40px;
    border: 2px solid rgb(255, 255, 255) !important;
    border-radius: 40px !important;
}

/*底侧切换栏未选项*/
.page-inner_2jZi2 > a{
    border: 2px solid rgba(255, 255, 255, 0.552) !important;
    transition-duration: 0.4s !important;
    border-radius: 40px !important;
}

a > .page-item_M4MDr-pc{
    text-align: center !important;
    border: 2px solid rgb(255, 255, 255,0.552) !important;
    transition-duration: 0.4s !important;
    border-radius: 40px !important;
}

.page-inner_2jZi2 > a:hover{
    width: 41.689px !important;
    height: 37.999px !important;
    border: 2px solid #6e8bff !important;
    border-radius: 40px !important;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.031);
}

a > .page-item_M4MDr-pc:hover{
    text-align: center !important;
    border: 2px solid #6e8bff !important;
    background-color: #6e8bff !important;
    width: 41.689px !important;
    height: 37.999px !important;
    border-radius: 40px !important;
}

/*底侧切换栏外围*/
.page-inner_2jZi2{
    width: 656px !important;
    background-color: rgba(244, 244, 244, 0.909) !important;
    border: 2px solid rgb(255, 255, 255) !important;
    border-radius: 40px !important;
    padding-top: 7px !important;
    padding-right: 9px !important;
    padding-left: 8px !important;
    margin-left: 140px !important;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.031);
}

