/* 开关样式 */
.btn_on_off{
    width: 80px;
    height: 40px;
    margin: 0 3px;
    border-radius: 40px;
    font:italic;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    border: 2px solid white;
    background-color: #305cde;
}

.btn-on-circle{
    position: absolute;
    width: 40px;
    height: 30px;
    top: 5px;
    left: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
    box-shadow: 0 0 10px #2c55cf;
    transition: all .5s;
}

.btn-on-text{
    position: absolute;
    right: 10px;
    line-height: 25px;
    color: white;
    transition: all .5s;
}

/* 开关与文字同一行 但是每个开关不同行 */
.content{
    display: grid;
}

div.btn_on_off{
    display: inline-block;
    vertical-align: middle;
}

label p{
    display: inline-block;
    vertical-align: middle;
}

/* 导航栏内容导航 ===================================== */

h1{
    text-align:center;
}

a{
    text-decoration: none;
}

/* 导航栏内容导航 */
.item{
    border: 2px,solid,#f3f3f3;
    border-radius: 30px;
    background-color:#f3f3f3;
}

/* 背景颜色 */
body{
    background: linear-gradient(265deg, #f6f9fc 0%, #e6f0f5 100%);
}

/* 头部样式 */
.top {
  /* background-color: #f7f7f7; */
  padding: 20px;
  text-align: center;
}

/* 顶部标题颜色 */
.sider {
  overflow: hidden;
  background-color: #f3f3f3;
}

/* 导航栏 */
.item{
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration:none;
}

button{
    width: 120px;
    height: 60px;
    border-color:rgb(230, 230, 230);
    border-radius: 30px;
}